{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "react-native-reanimated/plugin",
    ["react-native-web", { "commonjs": true }]
  ]
}
